* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #121212;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.options {
    background-color: #e66866;
    padding: 2em;
}

.selector {
    position: relative;
    width: 90%;
    display: block;
    margin: 0 auto;
    font-size: 2vh;
    padding: 1vh;
    border-radius: 2vh;
    background-color: #eb8686;;
    border: 7px solid red;
}

.add-doggo {
    position: fixed;
    left: 4vh;
    bottom: 4vh;
    padding: 0.4em;
    border-radius: 1em;
    font-size: 3em;
    text-transform: uppercase;
    background-color: #eb8686;;
    border: 7px solid red;
}

.clear-doggos {
    position: fixed;
    right: 4vh;
    bottom: 4vh;
    padding: 0.4em;
    border-radius: 1em;
    font-size: 3em;
    text-transform: uppercase;
    background-color: #eb8686;;
    border: 7px solid red;
}

h1 {
    text-align: center;
    text-shadow: 0.06em 0.06em #4054bd;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 6em;
    background-color: #556ee6;
    padding: 0.3em;
}

.doggo-pics {
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    FLEX didn't work beautifully
    justify-content: space-evenly;
    align-items: baseline;
    align-content: space-around; */
    line-height: 2;
    column-count: 3;
    column-gap: 1vw;
    margin: 1vw;
    /* Taken from CSSTricks, seamless photo gallery */
}

.doggo-pic {
    /* width: 30%; */
    width: 100% !important;
    height: auto !important;
    border: 1em solid rgb(255, 136, 136);
    border-radius: 4%;
}

#loading {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 18vw;
    height: 18vw;
    display: none;
    border-radius: 15%;
}

@media (max-width: 1600px) {
    .doggo-pics {
        column-count: 4;
    }
    h1 {
        font-size: 4em;
    }
    .add-doggo {
        font-size: 2em;
    }
    .clear-doggos {
        font-size: 2em;
    }
}

@media (max-width: 1200px) {
    .doggo-pics {
        column-count: 3;
    }
    h1 {
        font-size: 5em;
    }
    .add-doggo {
        font-size: 3em;
    }
    .clear-doggos {
        font-size: 3em;
    }
}

@media (max-width: 10   00px) {
    .doggo-pics {
        column-count: 2;
    }
}

@media (max-width: 450px) {
    .doggo-pics {
        column-count: 1;
    }
}